          <div class="tag-list tag-filter" id="tag-list-<%= tag.id %>">
            <a class="tag-remove-button tag-button" id="tag-remove-<%= tag.id %>" href="#"><span class="glyphicon glyphicon-trash"></a>
            <a class="tag-edit-button tag-button" id="tag-edit-<%= tag.id %>" href="#" data-toggle="modal" data-target="#main-modal"><span class="glyphicon glyphicon-pencil"></a>
            <a class="tag-link" id="tag-filter-<%= tag.id %>" href="#"><span class="tag-filter-id" style="display: none"><%= tag.id %></span>#<span class="tag-filter-name"><%= tag.name %></span><div class="tag-filter-num"><% if (!tag.linknum) { %>0<% } else { %><%=tag.linknum %><% } %></div></a>
          </div>